<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style-importado.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
</head>
<body>
	<div class="header-container">
			<div class="header-button"><a href="/AppOrganizador/python/">Python</a></div>
			<div class="header-button"><a href="/AppOrganizador/css/">CSS</a></div>
			<div class="header-button"><a href="/AppOrganizador/javascript/">JavaScript</a></div>
	</div>

	<div class="title-container">
		<h1 id="titulo1">Apuntes Django</h1>
		<img src="https://cdn.worldvectorlogo.com/logos/django.svg">
	</div>

	<div class="index-container">
		<ul class="index">
			<li><a href="#iniciar">Iniciar Proyecto</a></li>
			<li><a href="#vista">Vistas (views)</a></li>
			<li><a href="#plantilla">Plantillas</a></li>
			<li><a href="#proye-apli">Proyecto y Aplicacion</a></li>
			<li><a href="#modelobbdd">Modelos para BBDD</a></li>
			<li><a href="#bbdd">Base de Datos</a></li>
			<li><a href="#pda">Panel de Administracion</a></li>
			<li><a href="#formulario">Formularios</a></li>
		</ul>
	</div>

	<div class="codigo">
		<h2><a name="iniciar"></a>Iniciar proyecto</h2>
			<p>Para iniciar un proyecto en Django debemos seguir los siguientes pasos</p>
			<ul>
				<li>1 - Creamos una carpeta</li>
				<li>2- Copiamos la URL de dicha carpeta</li>
				<li>3 - En el cmd nos movemos a la direccion copiada y alli ponemos el siguiente comando</li>
			</ul>
			<p>>django-admin startproject NOMBRE_ARCHIVO</p>
			<p>Dentro de la carpeta que crea Django nos vamos a encontrar con varios archivos</p>
			<ul>
				<li>__init__ - Sirve para que trate al directorio de mi sitio como un paquete</li>
				<li>settings.py - Contiene todas las configuraciones de nuestro proyecto</li>
				<li>urls.py - Se almacenan todas las URLS que va a contener nuestro proyecto</li>
				<li>wsgi.py - Es relativo al servidor web</li>
			</ul>
		
		<h3>Crear BBDD</h3>
			<p>Con esto se 'activa' el proyecto</p>
			<p>Desde la url donde esta creado el proyecto <br>
			>python manage.py migrate</p>
		
		<h3>Ejecutar el servidor</h3>
			<p>Sirve para tener una vista del proyecto</p>
			<p>>python manage.py runserver</p>
	</div>
	<div class="codigo">
		<h2>Model Template View</h2>
		<p>Django utiliza algo llamado el 'Model Template View'</p>
		<ul>
			<li>Template - Plantillas e interfazes graficas</li>
			<li>Model - Tiene que ver con las bases de datos</li>
			<li>View - Es requerida para hacer una peticion al servidor, el simple hecho de querer mostrar una URL requiere la existencia de un view</li>
		</ul>
		<p>En este proceso DJango va a trabajar con dos objetos fundamentales Request y HttpResponse</p>
		<p>Cuando una pagina es solicitada, django crea un objeto 'HttpRequest' que contiene metadata sobre esa peticion. Luego Django carga la vista apropiada pasando el 'HttpRequest' como primer argumento de la funcion vista. Cada vista es responsable de devolver un objeto 'HttpResponse'.</p>
		<img src="pruebas/MTV.jpg">
		<h2>Creacion de la primera vista</h2>
		<p><b>SI CREAMOS PRIMERO UNA APP (NECESARIO) EL ARCHIVO 'VIEWS.PY' SE VA A CREAR SOLO</b></p>
		<p>Creamos el arhivo 'views.py' dentro de la carpeta del proyecto</p>
		<p>Para trabajar con los objetos 'request' y 'HttpResponse' los debemos importar al inicio del archivo views con 'from django.http import HttpResponse'</p>
		<p>A cada funcion que creamos en el archivo VIEWS se lo denomina 'vista'</p>
		<div class="sintax">
		from django.shortcuts import render, HttpResponse

		def home(request):
			return HttpResponse("Bienvenidos al Home")
		</div>
		<p>Definida la primera vista ahora lo que tenemos que hacer es indicarle a Python que URL debemos introducir para llegar a esa vista, es decir enlazar una URL con la vista para que nos muestre la respuesta.</p>
		
		<h3>Conectar vista con URL</h3>
		<p>	En el archivo 'urls.py', en la lista que contiene todas las direcciones URL vamos a poner: 'path('saludo/', saludo)'. Entre comillas ponemos cualquier nombre y luego de la coma la vista con la cual queremos enlazar.</p>
		<p>Tambien, como la vista que queremos enlazar esta en otro archivo primero debemos importarla y lo hacemos con 'from OrganizadorResumenes.views import saludo'
		</p>
		<p>Entonces, siguiendo la linea de este ejemplo, cuando nostros pongamos en el navegador "http://localhost:8000/saludo/" podremos ver el HttpResponse</p>
		<div class="sintax">
		from django.contrib import admin
		from django.urls import path
		from OrganizadorResumenes.views import home, python, django, javascript

		urlpatterns = [
		    path('admin/', admin.site.urls),
		    path('', home, name='Home'),
		    path('python/', python, name='Python'),
		    path('django/', django, name='Django'),
		    path('javascript/', javascript, name='JavaScript'),
		]			
		</div>
		<p>En el caso de que tengamos varias aplicaciones dentro del proyecto (lo cual es normal en proyectos grandes) tenemos que organizar de otra manera las URLS. Esto lo vamos hacer CREANDO un archivo 'urls.py' dentro de la aplicacion y dejando asentado en el urls original que dicho arhivo es valido</p>
		<p>Nos quedaria entonces en el archivo urls del PROYECTO:</p>
		<div class="sintax">
		from django.contrib import admin
		from django.urls import path, include

		urlpatterns = [
		    path('admin/', admin.site.urls),
		    path('AppOrganizador/', include('AppOrganizador.urls')) #(!)
		]			
		</div>
		<p>Y el archivo urls de la APLICACION:</p>
		<div class="sintax">
		from django.urls import path
		from OrganizadorResumenes.views import home, python, django, javascript

		urlpatterns = [
		    path('', home, name='Home'),
		    path('python/', python, name='Python'),
		    path('django/', django, name='Django'),
		    path('javascript/', javascript, name='JavaScript'),
		 ]			
		</div>
	</div>	
	<div class="codigo">
		<h2><a name="plantilla">Plantillas</a></h2>
		<p>Sirven para separar la parte logica (datos) de la parte visual (presentacion) de un documento web. Buscamos que el documento html quede por fuera del codigo Python, como un archivo a parte.</p>
		<ul>
			<li>Creamos en la aplicacion una carpeta llamada 'templates'.</li>
			<li>Dentro de esa carpeta creamos otra carpeta con el nombre del proyecto.</li>
			<li>Ahi adentro metemos todos los archivos html a utilizar.</li>
		</ul>


		<h3>Cargar plantillas (Metodo loader)</h3>
		<p>El metodo anterior para cargar plantillas no es el mas ideal ya que se estaria constantemente abriendo y cerrando un flujo de datos lo cual consume muchos recursos. Por este motivo vamos a utilizar el metodo loader, con el cual le vamos a indicar a Django donde debe ir a buscar las plantillas.</p>
		<p>En el archivo 'settings' - Template - Dirs. Ponemos la ruta de la carpeta donde se van a contener todas las plantillas</p>
		<code class="sintax">
			TEMPLATES = [
			    {
			        'BACKEND': 'django.template.backends.django.DjangoTemplates',
			        <b>'DIRS': ["C:/Users/Matias Pobersnik/Desktop/Lucas universidad/Programacion/Python/Pildoras Informaticas/Django/Proyecto1/Proyecto1/Plantillas"],</b>
			        'APP_DIRS': True,
			        'OPTIONS': {
			            'context_processors': [
			                'django.template.context_processors.debug',
			                'django.template.context_processors.request',
			                'django.contrib.auth.context_processors.auth',
			                'django.contrib.messages.context_processors.messages',
			            ],
			        },
			    },
			]			
		</code>
		<p>Luego, el el archivo views hacemos lo siguiente.</p>
		<code class="sintax">
		from django.template import loader

		def saludo(request):
			return render(request, "home.html")
		</code>

		<h3>Llamadas desde la plantilla</h3>
		<p>En la plantilla html podemos llamar variables, objetos, clases, etc</p>
		<code id="jsEditor48" class="sintax">
			&lt;p&gt;El nombre del profesor es: {{nombre_persona}} {{apellido_persona}}&lt;/p&gt;
			<p>(entre dos corchetes llamamos a la variable que guardamos en el contexto)</p>

			&lt;p&gt;Estamos viendo esto el dia: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}&lt;/p&gt;
			<p>(Accedemos a la propiedades del objeto fecha)</p>			
		</code>

		<h3>Bucles y Condicionales en Plantillas</h3>
		<p>Dentro de la hoja HTML</p>
		<code id="jsEditor49" class="sintax">
		<p>Para el bucle for:</p>
			{% for i in elemento_a_recorrer%}
				{{i}}
			{% endfor %}
		</code>
		<p>Para el bucle if:</p>
		<code id="jsEditor50" class="sintax">
		{% if temas %}
			{% for i in temas%}
				{{i}}
			{% endfor %}

		{% else %}
			&lt;p&gt;No hay elementos que mostrar&lt;/p&gt;
			
		{% endif %}		
		</code>

		<h3>Filtros</h3>
		<p>Ver mas en: https://docs.djangoproject.com/en/4.0/ref/templates/builtins/</p>
		<code id="jsEditor51" class="sintax">
			{{nombre_persona|upper}} # Pasa todo a mayus. Hay infinidad de filtros

			Puedo encadenar varios
			{{nombre_persona|upper|first}} 			
		</code>

		<h3>Plantillas Incrustadas</h3>
		<p>Se suele meter una plantilla html dentro de otra para separar todo por partes</p>
		<code id="jsEditor52" class="sintax">
			// Dentro de la plantilla donde queremos incrustar:
			{% include "nombreplantilla.html" %}		
		</code>
	</div>

	<div class="codigo">
		<h2><a name="proye-apli">Diferencia Proyecto y Aplicación</a></h2>
		<p>Un proyecto puede CONTENER una o varias aplicaciones (una app que se encargue de las ventas, pagos, envios, etc). En el 99% de los casos si hay proyecto hay aplicacion. Se suelen crear aplicacion para englobar un conjunto de funciones xej manejar un stock. La ventaja de trabajar de esta manera es la posibilidad de reutilizar esa 'aplicacion' en otro 'proyecto'.</p>

		<h2>Como crear una Aplicacion</h2>
		<p>En el cmd 'cd C:\Users\Matias Pobersnik\Desktop\Lucas universidad\Programacion\Python\Pildoras Informaticas\Django\tienda_online' <br>
		<br>
		>python manage.py startapp NOMBRE_ARCHIVO <br>
		<br>
		Ahora en settings.py (de tienda_online) hay que registrar la app</p>
		<code id="jsEditor53" class="sintax">
			INSTALLED_APPS = [
			    'django.contrib.admin',
			    'django.contrib.auth',
			    'django.contrib.contenttypes',
			    'django.contrib.sessions',
			    'django.contrib.messages',
			    'django.contrib.staticfiles',
			    'gestion_pedidos', # <--------
			]			
		</code>
	</div>

	<div class="codigo">
		<h2><a name="modelobbdd">Modelos para la BBDD</a></h2>
		<p>Dentro de la carpeta donde se creo la app vamos a models.py <br>
		Todas las tablas se crean con la CLASE MODELO.</p>
		<code id="jsEditor54" class="sintax"> 
			class Clientes(models.Model):
				nombre=models.CharField(max_length=30) #charfield es campo de texto
				direccion=models.CharField(max_length=50)
				email=models.EmailField()
				telefono=models.CharField(max_length=10)

			# Para que un campo se opcional, dentro del parentesis ponemos (blank=True, null=True)	
		</code>
		<p><strong>SIEMPRE QUE SE HAGAN CAMBIOS EN EL MODELO HAY QUE HACER LAS MIGRACIONES CORRESPONDIENTES</strong></p>
	</div>

	<div class="codigo">
		<h2><a name="bbdd">Crear BBDD</a></h2>
		<p>Cuando ya tengamos los modelos creados, vamos a cmd /tienda_online</p>
		<p>>python manage.py makemigrations</p>
		<p>En este punto se va a haber creado una base de datos pero al abrirla esta vacia. Para insertar las tablas dentro de la base de datos en cmd /tienda_online:</p>
		<p>>python manage.py sqlmigrate NOMBRE_APP 0001</p>
		<p>En el '0001' se pone el numero de migracion que nos dio cuando ejecutamos 'makemigrations'. (Este cambia dependiendo cuantas migraciones hayamos hecho)</p>
		<p>>python manage.py migrate</p>
	
		<h2>Crear, modificar y eliminar registros desde consola</h2>
		<p>Lo hacemos desde consola, tambien se puede hacer desde forularios o el panel de administracion</p>
		<p>/tienda_online python manage.py shell</p>
		<p>INGRESAR: <br>
		>>> from gestion_pedidos.models import Articulos <br>
		>>> art=Articulos(nombre='mesa', seccion='decoracion', precio=90) | Le puse 'art' pero le podria haber puesto cualquier nombre de variable <br>
		>>> art.save()</p>
		<p>Para hacerlo en un unico paso: <br>
		>>> art3=Articulos.objects.create(nombre='taladro', seccion='ferreteria', precio=65)</p>
		<p>MODIFICAR: <br>
		>>> art.precio=95 <br>
		>>> art.save()</p>
		<p>BORRAR: <br>
		>>> art4=Articulos.objects.get(id=2) <br>
		>>> art4.delete()</p>

		<h2>Configurar PostgreSQL</h2>
		<p>Hay que realizar un pip install de 'psycopg2' la primera vez</p>
		<p>En 'settings.py'</p>
		<code id="jsEditor55" class="sintax">
			DATABASES = {
			    'default': {
			        'ENGINE': 'django.db.backends.postgresql_psycopg2',
			        'NAME': "articulosclientes",
			        'USER':'postgres',
			        'PASSWORD': 'Golazo10',
			        'HOST': '127.0.0.1',
			        'DATABASE_PORT':'5432', 
			    }
			}			
		</code>
		<p>Posteriormente en el CMD se deben hacer las migraciones</p>
		<p>Ahora en el pgadmin en 'Schemas' - 'Tables'. Deberian salir todas las tablas que creamos anteriormente</p>

		<h2>Consultas con criterios</h2>
		<p>Desde el Shell <br>
		>>> from gestion_pedidos.models import Articulos <br>
		>>> Articulos.objects.filter(seccion='deportes')</p>
		<p>Devuelve un 'queryset' en el cual van a estar los articulos que cumplen con los criterios pero de una forma poco legible. Para verla claramente debemos utilizar la funcion '__str__()'</p>
		<p>En MODELS.PY (dentro de la clase)</p>
		<code id="jsEditor56" class="sintax">
			def __str__(self):
				return 'El nombre es %s la seccion es %s y el precio es %s' %(self.nombre, self.seccion, self.precio)
				# return f"El nombre es {self.nombre}, la sección es: {self.seccion} y el precio es {self.precio}			
		</code>
		<p>Como hice cambios en los modelos, realizo las migraciones correspondientes</p>
		<p>Si desde el shell usar los criterios mayor que o menor que debemos utilizar: <br>
		Articulos.objects.filter(seccion='deportes', precio__gte=100) | mayor o igual que <br>
		Articulos.objects.filter(seccion='deportes', precio__lte=100) | menor o igual que <br>
		... precio__gt=100) | mayor que <br>
		... precio__lt=100) | menor que <br>
		Articulos.objects.filter(seccion='deportes',precio__range=[10,150]) | Rango <br>
		porque los simbolos '&lt; &gt;' los utiliza para otras cosas</p>
		<p>Para que los devuelva ordenados: <br>
		Articulos.objects.filter(precio__gte=100).order_by('precio') <br>
		Si quiero que sea de manera descendente: <br>
		Articulos.objects.filter(precio__gte=100).order_by('-precio')</p>
	</div>

	<div class="codigo">
		<h2><a name="pda">Panel de Administracion (PDA)</a></h2>
		<p>Se utiliza para manejar la pagina web</p>
		<p>Cuando creamos un proyecto con 'startproject' el panel de administracion ya aparece habilitado.</p>
		<p>Luego de correr el servidor (pyhton manage.py runserver), si copiamos 'http://127.0.0.1:8000/admin' podemos acceder al PdA. Nos va a pedir un usuario y contraseña.</p>
		<p>CREAR USUARIO: <br>
		/tienda_online>python manage.py createsuperuser <br>
		(seguir instrucciones)</p>
		<p>Si entramos al pgAdmin y vemos la tabla 'auth_user' podemos ver todos los usuarios creados en la pagina.</p>

		<h2>Manejar el PDA</h2>
		<p>En admin.py importamos los modelos creados</p>
		<code id="jsEditor57" class="sintax">
			from gestion_pedidos.models import Clientes
			admin.site.register(clientes)			
		</code>
		<p>En el /admin nos va a aparecer la tabla importada la cual podemos modificar directamente desde el PdA. Si hacemos cambios se van a ver reflejados en la bbdd directamente</p>

		<h2>Modificar Campos PDA</h2>
		<p>Modificar campos en el panel de adminsitracion sin que esos cambios se reflejen en la base de datos (Nombres de los campos como: direccion, email, etc)</p>
		<p>-En 'models.py', dentro de la clase: <br>
		direccion=models.CharField(max_length=50, verbose_name="La direccion")</p>
		<p>'verbose_name' va a cambiar como se muestra en el PdA</p>

		<h2>Ver mas campos que los mostrados por defecto (PDA)</h2>
		<p>Ahora mismo, cuando yo ingreso al PDA y toco sobre la tabla clientes solo puedo ver el nombre de los clientes (porque defini el metodo __str__, sino se mostraba como cliente). Si yo quiero mostrar mas campos en la vista previa: <br>
		<br>
		En admin.py:</p>
		<code id="jsEditor58" class="sintax">
			class ClientesAdmin(admin.ModelAdmin):
				list_display=("nombre", "direccion", "telefono")

			admin.site.register(Clientes, ClientesAdmin)			
		</code>

		<h2>Filtro de Busqueda dentro del PDA</h2>
		<p>Para insertar un filtro de busqueda, en admin.py, dentro de la clase ClientesAdmin:</p>
		<code id="jsEditor59" class="sintax">
			search_fields=("nombre", "telefono")	
		</code>
	</div>

	<div class="codigo">
		<h2><a name="formulario"></a>Formularios</h2>
		<p>Para crearlo, en la plantilla HTML que lo vaya a contener ponemos:</p>
		<code id="jsEditor60" class="sintax">
			&lt;form action="/buscar/" method="GET"&gt;
				&lt;input type="text" name="prd"&gt;
				&lt;input type="submit" value="Buscar"&gt;
			&lt;/form&gt;			
		</code>
		<p>'Action' determina a que pagina nos va a redirigir ese formulario.</p>
		<p>-Ahora hay que crear una VISTA, asi que en el archivo 'view.py'</p>
		<code id="jsEditor61" class="sintax">
			def busqueda_productos(request):
				return render(request, "busqueda_productos.html")			
		</code>
		<p>Para el siguiente paso hay que registrar una URL, en el archivo 'urls.py'</p>
		<code id="jsEditor62" class="sintax">
			from gestion_pedidos import views

			urlpatterns = [
			    path('admin/', admin.site.urls),
			    path('busqueda_productos/', views.busqueda_productos),
			]			
		</code>
		<p>El formulario que hicimos con HTML lo vinculamos con la url /buscar/ pero todavia no la creamos <br>
		<br>
		En 'views.py'</p>
		<code id="jsEditor63" class="sintax">
			from django.http import HttpResponse

			def buscar(request):
				mensaje='Articulo buscado: %r' %request.GET["prd"]
				return HttpResponse(mensaje)			
		</code>
		<p>Por ultimo, registramos la vista en 'urls.py'</p>

		<h2>Formularios que buscan en BBDD</h2>
		<p>En 'views.py'</p>
		<code id="jsEditor64" class="sintax">
			from gestion_pedidos.models import Articulos

			def buscar(request):

				if request.GET["prd"]:
					# mensaje='Articulo buscado: %r' %request.GET["prd"]
					producto=request.GET["prd"] # Almacenamos lo que introducimos en el buscador del formulario en la variable
					articulos=Articulos.objects.filter(nombre__icontains=producto) # Aca va a buscar en el campo NOMBRE de la bbdd lo que introducimos en 'producto'
					return render(request, "resultados_busqueda.html", {"articulos":articulos, "query":producto})
					# Renderizamos en ese html, identificamos con la palabra articulos lo que almacenamos en la variable articulos, y identifico como el query la informacion que almacenamos en la variable producto
				else:
					mensaje='No has introducido ningun articlo'

				return HttpResponse(mensaje)			
		</code>
		<p>Dentro de la carpeta templates creamos el html del resultado.</p>
		<code id="jsEditor65" class="sintax">
			<body>
				&lt;p&gt;Estas buscando: <strong>{{query}}</strong>&lt;/p&gt;

				{% if articulos %}
					&lt;p&gt;Articulos encontrados: {{articulos|length}} articulos&lt;/p&gt;

					&lt;ul&gt;
						{% for articulo in articulos %}
							&lt;li&gt;
								{{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
							&lt;/li&gt;
						{% endfor %}
					&lt;/ul&gt;

				{% else %}
					&lt;p&gt;Articulo no encontrado&lt;/p&gt;

				{% endif %}
			</body>			
		</code>

		<h2>Formulario de Contacto</h2>
		<p>Creamos la vista, registramos la url y creamos la plantilla html</p>
		<code id="jsEditor66" class="sintax">
			&lt;form action="/contacto/" method="POST"&gt;
				&lt;p&gt;Asunto: &lt;input type="text" name="asunto"&gt;&lt;/p&gt;
				&lt;p&gt;Email: &lt;input type="text" name="email"&gt;&lt;/p&gt;
				&lt;p&gt;Mensaje: &lt;textarea name="mensaje" rows="15" cols="45"&gt;&lt;/textarea&gt;&lt;/p&gt;
				&lt;input type="submit" value="Buscar"&gt;
			&lt;/form&gt;			
		</code>
		<p>SALIO UN ERROR 'csrf_token'. Copie '{% csrf_token %}' en el formulario html y cerre sesion desde el panel de administracion.</p>
	</div>
<script type="text/javascript" src="estilos.js"></script>
</body>
</html>