*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;;
	font-size: 20px;
}

/*body{
	background: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
*/

.header-container {
	border: 2px solid #e3a430;
	border-radius: 10px;
	display: flex;
	padding: 5px;
	margin: 5px;

}

input{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header-container > li{
	border: 2px solid #b3b3b3;
	border-radius: 10px;
	list-style: none;
	padding: 10px;
	margin: 5px;
}

.main-container {
	border: 2px solid #e3a430;
	border-radius: 10px;
	display: flex;
	padding: 20px;
	margin: 5px;
	justify-content: space-around;
}


.main-content > a > p{
	font-size: 25px;
	font-weight: 900;
	text-decoration: none;
	text-align: center;
	padding: 5px;
}

.main-content > a > img {
	padding: 5px;
	margin: 5px;
	min-width: 200px;
	max-width: 200px;
	max-height: 200px;
	align-items: center;
}

.main-container > div:hover{
	border: 2px solid #e3a430;
	border-radius: 10px;
	box-shadow: 2px 5px 15px 2px ;
	border-radius: 5px;
}

a:link, a:visited,  a:hover, a:active{
    color: #000000;
    text-decoration: none;
}